# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: perfsys-cloud-crm-api # NOTE: update this with your service name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"



provider:
  name: aws
  runtime: nodejs6.10
  stage: ${opt:stage, 'dev'}
  region: eu-west-1
  apiKeys:
    - ${opt:stage}-cloudCrmApiKey

# you can overwrite defaults here
#  stage: dev
#  region: us-east-1

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - { "Fn::GetAtt": ["ContactsDynamoDBTable", "Arn" ] }
# you can define service wide environment variables here
#  environment:
#    variable1: value1
  environment:
    CONTACTS_TABLE: ${self:provider.stage}-cloud-crm-contacts

# you can add packaging information here
#package:
#  include:
#    - include-me.js
#    - include-me-dir/**
#  exclude:
#    - exclude-me.js
#    - exclude-me-dir/**

functions:
#  hello:
#    handler: handler.hello

#    The following are a few example events you can configure
#    NOTE: Please make sure to change your handler code to work with those events
#    Check the event documentation for details
#    events:
#      - http:
#          path: users/create
#          method: get
#      - s3: ${env:BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic
#      - stream: arn:aws:dynamodb:region:XXXXXX:table/foo/stream/1970-01-01T00:00:00.000
#      - alexaSkill
#      - alexaSmartHome: amzn1.ask.skill.xx-xx-xx-xx
#      - iot:
#          sql: "SELECT * FROM 'some_topic'"
#      - cloudwatchEvent:
#          event:
#            source:
#              - "aws.ec2"
#            detail-type:
#              - "EC2 Instance State-change Notification"
#            detail:
#              state:
#                - pending
#      - cloudwatchLog: '/aws/lambda/hello'
#      - cognitoUserPool:
#          pool: MyUserPool
#          trigger: PreSignUp

#    Define function environment variables here
#    environment:
#      variable2: value2
  external-contacts-create:
    handler: index.handler
    events:
      - http:
          path: '/external/contacts'
          method: post
          private: true

  sources-list:
    handler: index.handler
    events:
      - http:
          path: '/sources'
          method: get
          cors: true

  groups-list:
    handler: index.handler
    events:
      - http:
          path: '/groups'
          method: get
          cors: true

  types-list:
    handler: index.handler
    events:
      - http:
          path: '/types'
          method: get
          cors: true

  countries-list:
    handler: index.handler
    events:
      - http:
          path: '/countries'
          method: get
          cors: true

  statuses-list:
    handler: index.handler
    events:
      - http:
          path: '/statuses'
          method: get
          cors: true

  contacts-create:
    handler: index.handler
    events:
      - http:
          path: '/contacts'
          method: post
          cors: true


  contacts-list:
    handler: index.handler
    events:
      - http:
          path: '/contacts'
          method: get
          cors: true

  contacts-list-group:
    handler: index.handler
    events:
      - http:
          path: '/contacts/{group_id}'
          method: get
          cors: true


  contacts-get-one:
    handler: index.handler
    events:
      - http:
          path: '/contacts/{group_id}/{proxy+}'
          method: get
          cors: true

  contacts-delete-one:
    handler: index.handler
    events:
      - http:
          path: '/contacts/{group_id}/{proxy+}'
          method: delete
          cors: true

  contacts-update-one:
    handler: index.handler
    events:
      - http:
          path: '/contacts/{group_id}/{proxy+}'
          method: put
          cors: true


# you can add CloudFormation resource templates here
#resources:
#  Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
resources:
  Resources:
    ContactsDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: group_id
            AttributeType: S
          -
            AttributeName: name
            AttributeType: S
        KeySchema:
          -
            AttributeName: group_id
            KeyType: HASH
          -
            AttributeName: name
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.CONTACTS_TABLE}
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"
